.root {
  @media (max-width: 550px) {
    text-align: center;
  }
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      line-height: 42px;
      border: 1px solid #6e9c4f;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      cursor: pointer;
      color: #6e9c4f;

      &:hover {
        background-color: #6e9c4f;
        color: #ffffff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #6e9c4f;
        color: #ffffff;
      }
    }
  }
}