@import '../variables.scss';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 870px) {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 870px) {
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 30px;
    }
    @media (max-width: 550px) {
      column-gap: 10px;
      row-gap: 20px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 800;
      white-space: nowrap;
      @media (max-width: 550px) {
        font-size: 20px;
        white-space: normal;
      }
    }

    p {
      color: #7b7b7b;
    }
  }
}
